body {
  text-align: center;
  font-weight: bold;
  background-color: #000000;
  color: #ff0000;
  a:visited color:#FF0000;
  font-size: 22px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00ff00;
}

.ok {
  width: auto,
  height: auto
}
}
img {
  width: auto,
  height: auto
}
