body {
  text-align:justify;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 22px;
  background-color: #000000;
  color: #ff0000;
  a:visited color:#ff0000;
  }


h1,
h2 {
  color: #00ff00;
}
  
