html {
    background: #000000;
    font-family: hack;
	color: #00ff00;
}

.inbox {
    background: #4B0082;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    margin: 50px auto;
    max-width: 400px;
}

.item {
    align-items: right;
    border-bottom: 1px solid #F1F1F1;
    display: flex;
}

.item:last-child {
    border-bottom: 0;
}

input:checked + p {
    background: #000000;
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 20px;
	align-items: left;
}

p {
    border-left: 1px solid #D1E2FF;
    flex: 1;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
}
