html {
    background: #000000;
    font-family: hack;
	color: #00ff00;
}

.item {
    align-items: right;
    border-bottom: 1px solid #F1F1F1;
    display: none;
}

.item:last-child {
    border-bottom: 0;
}

input:checked + p {
background: #000000;    
background: #4B0082;

}

input[type="checkbox"] {
    margin: 20px;
	align-items: left;
}

p {
    flex: 1;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
}
